.slide-up {
  width: 30px;
  height: 30px;
  background-color: rgb(117 93 191);
  border-radius: 50%;
  position: fixed;
  right: 2%;
  transition: all 0.5s;
  animation: slideUp 1s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-down {
  width: 30px;
  height: 30px;
  background-color: rgb(117 93 191);
  border-radius: 50%;
  position: fixed;
  right: 2%;
  transition: all 0.5s;
  animation: slideDown 1s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-up-icon {
  color: #fff;
}

@keyframes slideUp {
  0% {
    top: 0%;
  }
  100% {
    top: 80%;
  }
}
@keyframes slideDown {
  0% {
    top: 80%;
  }
  100% {
    top: 200%;
  }
}
